{% include 'header.html' %}

{% block content %}
{% for commands in response%}
<div class="container-fluid text-center">
<h1 class="display-6 username">{{ commands }}</h1>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Command Name</th>
        <th scope="col">Command Description</th>
      </tr>
    </thead>
    <tbody>
        {% for command in response[commands] %}
      <tr>
        <th scope="row">{{ response[commands].index(command) + 1 }}</th>
        <td>#{{ command[0] }}</td>
        <td>{{ command[1] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}
{% endblock %}


{% include 'footer.html' %}