{% include "header.html" %} 
{% block content %}

<div class="heading">
    <h1 class="display-5 title">It's time to use Cadmium in your server.</h1>
    <p class="subtitle">Cadmium is a multi-purpose bot ready to skill up and boost up your Discord server<br />Also features auto-moderation, administration, music and much more!</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" target="_blank" role="button">Get started</a>
    <a class="btn btn-secondary btn-lg" href="https://discord.com/api/oauth2/authorize?client_id=1130152470627229858&permissions=18855442771062&scope=bot" target="_blank" role="button">Add to server</a>
    <br /><br /><br /><br /><br /><br />
</div>s
<div class="features">
    <div class="title">Features of Cadmium</div>
    <div class="subtitle">We provide you the best features in Cadmium!</div>
    <div class="cards">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Moderation</h5>
            <p class="card-text">Providing Many Moderating Methods which will protect your servers from Abusing!</p>
        </div>
    </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Interacting</h5>
                <p class="card-text">Ability to interact with people and get how many times you interacted with them!</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Management</h5>
                <p class="card-text">Get the ability to manage your Server easily on dashboard by changing prefix and etc!</p>
            </div>
        </div>
    </div>
</div>
<div class="statistics">
    <div class="cards">
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;">{{ g_num }}</h1>
                <p style="font-weight: bold !important;font-size: 20px !important;">servers</p>
            </div>
        </div>
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;">{{ u_num }}</h1>
                <p style="font-weight: bold !important;font-size: 20px !important;">users</p>
            </div>
        </div>
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;">{{ c_num }}</h1>
                <p style="font-weight: bold !important;font-size: 20px !important;">channels</p>
            </div>
        </div>
    </div>
</div>
<div class="page_end">
    <div class="start">
        <div class="card">
            <div class="card-body gs-card">
                <div class="title">Ready to try Cadmium?</div>
                <div class="subtitle">Invite Cadmium and start giving your server cool perks!</div>
                <br />
                <a class="btn btn-primary btn-lg" href="https://discord.com/api/oauth2/authorize?client_id=1130152470627229858&permissions=18855442771062&scope=bot" role="button">Get started</a>
            </div><br />
        </div>
    </div>
{% endblock %}
{% include "footer.html" %} 

